@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;700;800;900&display=swap");

:root {
    --dark-one: #333;
    --dark-two: #7a7a7a;
    --dark-three: #0f0c16;
    --main-color: #581a70b9;
    --light-one: #fff;
    --light-two: #f9fafb;
    --light-three: #f6f7fb;
    --light-four: #1db99f;

  }

    /* General styles */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body,
button{
  font-family: "Poppins", sans-serif;
}

h1{
    font-size: 68px;
    text-align: center; /* Center the text horizontally */
  margin: 0; /* Remove the top margin to bring it to the top */
  background:linear-gradient(135deg, #8fb91d, #1a1b70b9), #333333;
  color: #fff; 
  padding: 10px;
}

body {
    background-color: #f5f5f5;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}


main {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

#movie-list {
    width: 30%;
    background-color: #fff;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

#movie-details {
    width: 68%;
    background-color: #fff;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

ul#films {
    list-style: none;
    padding: 0;
}

li.film.item {
    padding: 10px;
    cursor: pointer;
    border: 1px solid #ccc;
    margin-bottom: 5px;
    border-radius: 5px;
    background-color: #f9f9f9;
}

li.film.item:hover {
    background-color: #e6e6e6;
}

img {
    max-width: 100%;
    height: auto;
}

h2 {
    font-size: 18px;
}

button#buy-ticket {
    background-color: #333;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

button#buy-ticket:hover {
    background-color: #555;
}